<!DOCTYPE html>
<html>
<head>
    <title>Movie List</title>
</head>
<body>
    <h1>Movie List</h1>
     
    <ul>
        <% movies.forEach(function(movie) { %>
            <li>
                <strong>Title:</strong> <%= movie.title %><br>
                <strong>Year:</strong> <%= movie.year %>
            </li>
        <% }); %>
    </ul>

    <a href="/">Go Back</a>
</body>
</html>
